{{outlet}}
<h3>Categories:</h3>

<div class="container">
	<div class="row">
		<ul class="list-inline">
			{{#each model as |category|}}
			 <li><button {{action 'delete' category}} class="btn btn-primary btn-xs">Delete</button></li>
			<li>
			  {{category.name}}
			</li><br><br>
	  {{/each}}
		</ul>
	</div>
</div>


<p>
	{{link-to "Add a new category!" "categories.new"}}
</p>
