<h2>Login</h2>

<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Username</label>
  {{input id='identification' placeholder='Enter Username' value=identification type="username"}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
