{{outlet}}

<h3>Users:</h3>
<div class="container">
	<div class="row">
		<ul class="list-inline">
			{{#each model as |user|}}
			 <li><button {{action 'delete' user}} class="btn btn-primary btn-xs">Delete User</button></li>
			<li>
			  <span id="user">
          {{link-to user.username "users.user" user}}
        </span>
			</li><br><br>
	  {{/each}}
		</ul>
	</div>
</div>
